<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center><h1>Terms and Conditions</h1></center><br>
<p>
    1.You need to pay the half of the total amount at the time of Booking</p>
   <p>2.Pay the balance amount before the departure starts</p> 
    <p>3.Pay the balance amount before the departure starts</p>
    <p>All passengers details must be submitted before the departure</p>
</body>
</html>